
*{
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}
.modo_claro * {
    --color01: #A67A46 ;   /**/
    --sombra01: #4e4336c9;
    --color02: #ebcba4 ;
    --color03: #faf0de ;
    --color04: #5c5f69 ;
    --color05: rgba(209, 209, 209, 0.733);
    --color06: black;
    --sombra06: rgba(0, 0, 0, 0.747);
    --color07: white;
}
.modo_escuro{
    --color01: red;
    --color02: blue;
    --color03: yellow;
}
header{
    padding: 20px 0px 0px 0px;
    background-color: var(--color06);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.747);

    color: var(--color07);
}
.container_botao_tema{
    display: flex;
    justify-content: end;

    padding: 0px 190px 30px 0px;
    margin: 0px;
}
.container_tema{
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    width: 70px;

    border: 3px solid var(--color01);
    background-color: var(--color06);
    border-radius: 16px;
}
.container_tema:hover{
    cursor: pointer;
    transform: translate( -1px, -1px);

}
.material-symbols-outlined{

    padding: 2px 5px;

    color: var(--color07);

}
nav{
    display: flex;
    justify-content: center;
    column-gap: 50px;

    padding: 10px;

    background-color: var(--color01);

}
nav > button{
    padding: 3px 10px;

    color: var(--color07);
    text-shadow: 1px 1px 1px var(--sombra01) ;

    background-color: var(--color01);

    border: 3px solid var(--color03);
    border-radius: 10px;

    box-shadow: 2px 2px 5px var(--sombra01) ;


}
nav > button:hover{
    cursor: pointer;
    transform: translate(-1px , -1px);
    box-shadow: 5px 5px 5px var(--sombra01);
}

main{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--color03);

    width: 100%;
    min-height: 65.3vh;
}
.content{
    width: 80%;
    height: 99%;

    margin-bottom: 20px;

    background-color: var(--color06);

    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: var(--color01);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 2px 2px 3px var(--sombra01);

}

.card_g{
    display: flex;
    flex-direction: column;

    margin: 10px 10%;
    padding: 10px;

    border: 3px solid var(--color01);
    border-radius: 16px;
    box-shadow: 3px 3px 5px var(--sombra01);

    background-color: var(--color03);

    color: black;
}
.card_g h1{
    text-align: center;
    padding: 10px;
    color: var(--color01);
    text-shadow: 1px 1px 2px var(--sombra01);

}
.card_g span {
    font-weight: bolder;
    color: var(--color01);
}
.card_g hr {
    display: block;
    height: 2px;

    background-color: var(--color01);

    border: none;
}

.imagem_card {
    align-self: center;
    margin: 10px 0px 30px 0px;

    height: 10%;
    width: 30%;

    border: 10px solid var(--color07);
    outline: 5px solid var(--color01);
    box-shadow: 7px 7px 10px var(--sombra01) ;

}

.card_g p {
    display: block;
    padding: 20px;

 
    text-align: justify;

}

.card_p{
    height: 50px;

    margin: 20px 10px;

    text-align: center;

    border: 3px solid var(--color01);
    border-radius: 5px 30px 5px 30px;
    box-shadow: 1px 1px 2px var(--sombra01);

    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    color: var(--color07);

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.767);

}

.card_p img , p , hr {
    display: none;
}

.card_p:hover{
    cursor: pointer;
    transform: translate( -1px, -1px);
}



footer{
    text-align: center;
    padding: 20px;

    background-color: var(--color01);
}
footer div {
    display: flex;
    justify-content: space-evenly;
}
footer h1 {
    color: var(--color07);
    font-size: 2em;
    margin-bottom: 20px;
}
.redes_social{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    color: var(--color07);

    text-decoration: none;
    text-shadow: 1px 1px 2px #4e4336c9 ;
}
.redes_social:hover{
    cursor: pointer;
    transform: translate( -1px, -1px);
}