
*{
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 20px;

    background-color: rgba(165, 42, 42, 0.63);
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    column-gap: 20px;

    padding: 10px;

    background-color: rgba(137, 43, 226, 0.644);
}
nav > button{
    padding: 2px 5px;
}

main{
    display: flex;
    justify-content: center;
    background-color: black;

    width: 99vw;
}
.content{
    height: 100%;
    width: 80%;
    padding: 10px 0px;
    background-color: white;

}

.card_g{
    display: flex;
    flex-direction: column;

    margin: 10px 10%;

    border: 2px solid black;
    border-radius: 16px;


    background-color: white;

}
.card_g h1{
    align-self: center;
    padding: 10px;

    color: black;

}

.imagem_card {
    align-self: center;
    padding: 10px;

    height: 10%;
    width: 30%;

}

.card_g p {
    display: block;
    padding: 10px;

    color: black;

}

.card_p{
    height: 50px;

    margin: 20px 10px;

    text-align: center;

    border: 2px solid black;
    border-radius: 5px 30px 5px 30px;

    background-image: url('https://cdna.artstation.com/p/assets/images/images/032/535/844/large/lucas-emanuel-img-20200824-081642-420.jpg?1606747701');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.card_p img , p {
    display: none;
}



footer{
    display: flex;
    justify-content: space-evenly;
    column-gap: 100px;
    row-gap: 20px;
    flex-wrap: wrap;

    padding: 20px;

    background-color: yellow;
}