
*{
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}
.modo_claro * {
    --color01: #A67A46 ;   /**/
    --sombra01: #52483b7c;
    --color02: #ebcba4 ;
    --color03: #faf0de ;
    --color04: #5c5f69 ;
    --color05: rgba(209, 209, 209, 0.733);
    --color06: rgb(0, 0, 0);
    --sombra06: rgba(0, 0, 0, 0.747);
    --color07: white;
    --paragrafo: black;

    transition: border-color 0.5s , background-color 0.5s , color 0.5s , background-image 0s;

}
.modo_escuro *{
    --color01: rgb(75, 75, 75);
    --sombra01: rgba(85, 85, 85, 0.514);
    --color02: black;
    --color03: rgb(151, 151, 151);
    --color06: rgba(0, 0, 0, 0.952);
    --sombra06: rgba(51, 51, 51, 0.808);
    --color07: white;
    --paragrafo: white;

    transition: border-color 0.5s , background-color 0.5s , color 0.5s, background-image 0s;

}
.modo_escuro h1{
    --color01: white;
}
header{
    padding: 20px 0px 0px 0px;
    background-color: var(--color06);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.747);

    color: var(--color07);
}
.container_botao_tema{
    display: flex;
    justify-content: center;

    padding: 20px 0px 20px 0px;
    margin: 0px;
}
.container_tema{
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    width: 70px;

    border: 3px solid var(--color01);
    background-color: var(--color06);
    border-radius: 16px;
}
.container_tema:hover{
    cursor: pointer;
    transform: translate( -1px, -1px);

}
.material-symbols-outlined{

    padding: 2px 5px;

    color: var(--color07);

}
nav{
    display: flex;
    justify-content: center;
    column-gap: 50px;

    padding: 10px;

    background-color: var(--color01);

}
nav > button{
    padding: 3px 10px;

    color: var(--color07);
    text-shadow: 1px 1px 1px var(--sombra01) ;

    background-color: var(--color01);

    border: 3px solid var(--color03);
    border-radius: 10px;

    box-shadow: 2px 2px 5px var(--sombra01) ;


}
nav > button:hover{
    cursor: pointer;
    transform: translate(-1px , -1px);
    box-shadow: 5px 5px 5px var(--sombra01);
}

main{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--color03);

    width: 100%;
    min-height: 65.3vh;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;

    margin-bottom: 20px;
    padding: 20px 5px;

    background-color: var(--color06);

    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: var(--color01);
    border-radius: 0px 0px 16px 16px;

    box-shadow: 2px 2px 4px var(--sombra01);

}
.card_g{
    display: flex;
    flex-direction: column;

    margin: 10px 10%;
    padding: 10px;

    border: 3px solid var(--color01);
    border-radius: 16px;
    box-shadow: 3px 3px 5px var(--sombra01);

    background-color: var(--color03);

    color: var(--paragrafo);

    transition: bacground-color 0s;

}
.card_g h1{
    text-align: center;
    padding: 10px;
    color: var(--color01);
    text-shadow: 1px 1px 2px var(--sombra01);

    transition: color 0s;

}
.card_g span {
    font-weight: bolder;
    color: var(--color01);
}
.card_g hr {
    display: block;
    height: 2px;

    background-color: var(--color01);

    border: none;
}

.imagem_card {
    align-self: center;
    margin: 10px 0px 30px 0px;

    height: 20%;
    width: 60%;

    border: 10px solid var(--color07);
    outline: 5px solid var(--color01);
    box-shadow: 7px 7px 10px var(--sombra01) ;

}

.card_g p {
    display: block;
    padding: 20px;

    color: var(--paragrafo);

    text-align: justify;

}

.card_p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 60px;

    margin: 0px 5px 15px 5px;
    padding: 5px 2px 5px 2px;

    text-align: center;
    overflow: hidden;

    border: 3px solid var(--color01);
    border-radius: 5px 30px 5px 30px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) inset;

    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    color: var(--color07);

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.767);

}
.card_p h1{
    color: white;
    font-size: 1.5em;

    transition: color 0s;
}

.card_p img , p , hr {
    display: none;
}

.card_p:hover{
    cursor: pointer;
    transform: translate( -1px, -1px);
}



footer{
    text-align: center;
    padding: 10px 0px 0px 0px;

    background-color: var(--color01);
}
footer div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px ;
}
footer h1 {
    color: var(--color07);
    font-size: 2em;
    margin-bottom: 20px;
}
.redes_social{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    padding: 10px;

    color: var(--color07);

    text-decoration: none;
    text-shadow: 1px 1px 2px #4e4336c9 ;
}
.redes_social:hover{
    cursor: pointer;
    transform: translate( -1px, -1px);
}

::-webkit-scrollbar{
    width: 0.8em;
}

* .modo_claro::-webkit-scrollbar-thumb{
    background-color: #A67A46;

    border-radius: 16px;
    border: 1px solid #faf0de;
    box-sizing: border-box;
}
* .modo_claro::-webkit-scrollbar-track{
    background-color:  #faf0de;
    box-shadow: inset 1px 1px 5px #dfd5c483;
}

* .modo_escuro::-webkit-scrollbar-thumb{
    background-color: rgb(75, 75, 75);

    border-radius: 16px;
    border: 1px solid rgb(151, 151, 151);
    box-sizing: border-box;
}
* .modo_escuro::-webkit-scrollbar-track{
    background-color: rgb(151, 151, 151);
    box-shadow: inset 1px 1px 5px rgba(107, 107, 107, 0.726);
}